.navigation {
  * {
    font-family: 'Nunito', sans-serif;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    list-style: none;

    div {
      display: flex;

      a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: $text_xxs;
        color: $color_text;
        transition: 0.2s;
        position: relative;
      }

      &.logo a {
        font-size: $text_xs;
        font-weight: $black;
      }

      &.main a {
        &:after{
          content: "";
          position: absolute;
          left: 50px;
          bottom: 0;
          width: 0;
          height: 1px;
          border-radius: 100px;
          background-color: $color_primary;
          transition: 0.2s;
        }

        &:hover, &.active {
          color: $color_primary;
          &:after {
            width: calc(100% - 100px);
          }
        }

        li {
          margin: 0 50px;
        }

      }

      &.user a {
        &:hover, &.active {
          color: $color_primary;
        }

        li {
          margin: 0 30px;
        }
      }
    }

  }
}