// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap');

// Typo
$title: 3.6rem;
$big_title: 4.8rem;

$text_xxxs: 1.4rem;
$text_xxs: 1.6rem;
$text_xs: 1.8rem;
$text_s: 2rem;
$text_m: 2.2rem;
$text_l: 2.4rem;
$text_xl: 2.6rem;

// Weight
$regular: 400;
$semi_bold: 600;
$bold: 700;
$black: 900;

// Colors
$color_primary: #F8CF3E;
$color_text: #000000;
$color_bg_block: #F8F8F8;
$color_bg: #FFFFFF;